settings.ini
.env
.venv
.pytest_cache
*.pyc
__pycache__
scrape_files
todo.txt
*.xlsx
*.log
test*.html
test*.json
tmp.py
*.csv
node_modules
logs
test_html
test_json
gsheet*
services/crawler/bin/
services/crawler/pkg/
shop.yaml
services/api-server/tmp
*.crt
